@charset "UTF-8";

header {
    background-color: black;
    background-size: cover;
    color: white;
}

header > h1 {
    text-align: center;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 5em;
    font-variant: small-caps;
}

nav {
    background-color: black;
    color: white;
    }

nav > h2 {
    text-align: center;
    margin: 0px auto;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-left: 15px;
    font-size: 1.5em;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section > p {
    background-color: rgba(0, 0, 0, 0.219);
}

section.imagem {
    background-size: auto;
    background-position: left center;
    background-attachment: scroll;  
    background-repeat: repeat-y;
    font-size: 1.5em;
    margin-left: 15px;
}

#fundo1 {
    padding-top: 120px;
    padding-bottom: 120px;
    color: white;
    background: url(imagens/background001.jpg);
}

#fundo2 {
    padding-top: 120px;
    padding-bottom: 120px;
    color: white;
    background: url(imagens/background002.jpg);
}

#Bloco-de-sombra {
    background-color: rgba(0, 0, 0, 0.219);
    margin-right: 55%;
    font-size: 1.5em;
    margin-left: 15px;
}

#PT5 {
    padding-top: 120px;
    padding-bottom: 120px;
}

#Creditos {
    background-color: black;
    font-size: 1.25em;
    color: white;
    text-align: center;
    margin: 0px -8px -20px;
    padding-top: 10px;
}