@charset "UTF-8";

header {
    background-color: black;
    background-size: cover;
    color: white;
}

header > h1 {
    text-align: center;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 5em;
}

nav {
    background-color: black;
    color: white;
    }

nav > h2 {
    text-align: center;
    margin: 0px auto;
    padding-bottom: 50px;
}

p {
    margin-left: 15px;
}

#PT1 {
    padding-top: 120px;
    padding-bottom: 120px;
}

#PT1 > p {
    font-size: 1.5em;
}

#Bloco-de-sombra {
    background-color: rgba(0, 0, 0, 0.219);
    margin-right: 55%;
    font-size: 1.5em;
    margin-left: 15px;
}

#PT2 {
    padding-top: 120px;
    padding-bottom: 120px;
    color: white;
    background: url(imagens/background001.jpg);
    background-size: auto;
    background-position: left center;
    background-attachment: scroll;  
    background-repeat: repeat-y;
}

#PT3 {
    padding-top: 120px;
    padding-bottom: 120px;
}

#PT3 > p {
    font-size: 1.5em;
}


#PT4 {
    padding-top: 120px;
    padding-bottom: 120px;
    color: white;
    background: url(imagens/background002.jpg);
    background-size: auto;
    background-position: left center;
    background-attachment: scroll;  
    background-repeat: repeat-y;
    font-size: 1.5em;
}

#Bloco-de-sombra {
    background-color: rgba(0, 0, 0, 0.219);
    margin-right: 55%;
    font-size: 1.5em;
    margin-left: 15px;
}

#PT5 {
    padding-top: 120px;
    padding-bottom: 120px;
}

#PT5 > p {
    font-size: 1.5em;
}

#Creditos {
    background-color: black;
    font-size: 1.25em;
    color: white;
    text-align: center;
    margin: 0px -8px -20px;

}